.Main {
  background-color: lavender;
  display: grid;
  grid-template-columns: 1fr 2fr 12fr 1fr;
  grid-template-rows: 100px auto;
  grid-gap: 5px;
}


.content {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: khaki;
  border: 2px solid darkred;
  
}

